<ion-view title="Shopping Buddies" style="background-image:url('../img/bgImgShop.jpg'); background-position: center bottom;">
   <ion-nav-bar class="bar-royal">
        <ion-nav-buttons side="left">
          <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
<ion-content class="has-header">
<div class="wrap">
  <div class="box">
    <div class="boxInner">
      <a href="#/app/myTrips">
        <img src="/img/myTrips.jpg" alt="My Trips" style="width:127px; height:127px;">
      </a>
    </div>
  </div>

  <div class="box">
    <div class="boxInner">
      <a href="#/app/pastTrips">
        <img src="/img/pastTrips.jpg" alt="Past Trips" style="width:127px; height:127px; float:left; ">
      </a>
    </div>
  </div>

  <div class="box">
    <div class="boxInner">
      <a href="#/app/newTrip">
        <img src="/img/newTrip.jpg" alt="New Trip" style="width:127px; height:127px; float:left; ">
      </a>
    </div>
  </div>

  <div class="box">
    <div class="boxInner">
      <a href="#/app/myFriends">
        <img src="/img/myFriends.jpg" alt="My Friends"  style="width:127px; height:127px; float:left;">
      </a>
    </div>
  </div>

  <div class="box">
    <div class="boxInner">
      <a href="#/app/findFriends">
        <img src="/img/findFriends.jpg" alt="Find Friends"  style="width:127px; height:127px; float:left; ">
      </a>
    </div>
  </div>

  <!--
  <div class="box">
    <div class="boxInner">
      <a href="#/app/myFav">
        <img src="../img/myFav.jpg" alt="My Favorites"  style="width:127px; height:127px; float:left;">
      </a>
    </div>
  </div>-->

  <div class="box">
    <div class="boxInner">
      <a href="#/app/logout">
        <img src="/img/logout.jpg" alt="Logout"  style="width:127px; height:127px; float:left;">
      </a>   
    </div>
  </div>
</div>
</ion-content>
</ion-view>
