<div class="bar bar-header bar-royal">
  <h1 class="title">WELCOME TO...</h1>
</div>

<ion-view title="Login" style="background-image:url('../img/bgImgShop.jpg'); background-position: center bottom;" hide-nav-bar="true">

    <ion-content class="has-header">
        {{welcomeMsg}}
        <div>
            <img src= "../img/logo-sb.jpg" align='center' width =100% height=10%>
        </div>

        <div class="list list-inset">
            <button class="button button-block button-positive" ng-click="login()">
                <i class="icon ion-social-facebook"></i>
                &nbsp;Login with Facebook
            </button>
        </div>

        <div class="list list-inset">
            <button class="button button-block button-royal" ng-click=""> <!-- to be filled -->
                <i class="icon ion-social-facebook"></i>
                &nbsp;New Shopaholic?
            </button>
        </div>
    </ion-content>

</ion-view>