<ion-view title="My Trips" hide-back-button="true" style="background-image:url('img/bgImgShop.jpg'); background-position: center bottom;">
 <ion-nav-bar class="bar-royal">
        <ion-nav-buttons side="left">
          <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="has-header" has-header="true" padding="false">
    <ion-list>
      
      <ion-item ng-repeat="myTrip in myTrips" href="">
        <div style="width:80%; float:left;">
          <h2><b>{{myTrip.tripName}}</b></h2>
          {{myTrip.occasion}}
          <br>{{myTrip.date | date: longDate}}
          <br><br>Created By: {{myTrip.createdBy}}
        </div>
        <div>
          <button class="button button-assertive button-small">
            Leave Trip?
          </button>
          <br><br>
          <b>Trip Status?</b><br>
            <button class="button button-small button-outline button-balanced">
              Yes
            </button>
            <button class="button button-small button-outline button-assertive">
              No
            </button>
            <button class="button button-small button-outline button-calm">
              Maybe
            </button>
        </div>
      </ion-item> 

    </ion-list>
  </ion-content>
</ion-view>

<div class="bar bar-footer bar-royal">
  <h2 class="title">For the true shopaholics!</h2>
</div>


