<div class="bar bar-header bar-royal">
  <h1 class="title">MY TRIPS</h1>
</div>

<ion-view title="My Trips" hide-back-button="true" style="background-image:url('img/bgImgShop.jpg'); background-position: center bottom;">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header" has-header="true" padding="false">
    <ion-list>
      <ion-item ng-repeat="myTrip in myTrips" href="#/app/myTrips/{{myTrip.id}}">
        {{myTrip.name}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

<div class="bar bar-footer bar-royal">
  <h2 class="title">For the true shopaholics!</h2>
</div>