<ion-view title="My Trips" hide-back-button="true" style="background-image:url('img/bgImgShop.jpg'); background-position: center bottom;">
 <ion-nav-bar class="bar-royal">
        <ion-nav-buttons side="left">
          <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
          <button class="button button-icon icon ion-ios7-minus-outline" ng-click="data.showDelete = !data.showDelete;"></button>
        </ion-nav-buttons>

  </ion-nav-bar>
  <ion-content class="has-header" has-header="true" padding="false">
    <ion-list show-delete="data.showDelete">
      
      <ion-item ng-repeat="myTrip in myTrips" href="#/app/myTrips/{{myTrip.tripId}}">

        <div style="width:70%; float:left;">
          <h2><b>{{myTrip.tripName}}</b></h2>
          {{myTrip.occasion}}
          <br>{{myTrip.date | date: 'MMM d, y &nbsp&nbsp h:mm a'}}
          <br><br>Created By: {{myTrip.createdBy}}
        </div>

        <ion-delete-button class="ion-minus-circled" ng-click="onItemDelete(myTrip)">
        </ion-delete-button>
        
         <div style="vertical-align:middle;">
          <ion-option-button class="button-icon ion-checkmark-round" style="color:#19DA3D;" ng-click="updateStatus(myTrip, 1);">
            yes
          </ion-option-button>
          
          <ion-option-button class="button-icon ion-close-round" style="color:#F00707" ng-click="updateStatus(myTrip, 0);">
            no
          </ion-option-button>
          
          <ion-option-button class="button-icon ion-help" style="color:#FFCC00;" ng-click="updateStatus(myTrip, 2);">
            maybe
          </ion-option-button>
         </div>

        <div style="padding-right:10%;" ng-hide="myTrip.responded">
            <i class="ion-star" style="color:#FFCC00; font-size:20px;"></i><br>
            <i class="ion-checkmark-round" style="color:#19DA3D; font-size:20px;">Yes</i>
        </div>
        <div style="padding-right:10%; font-size:20px;" ng-show="myTrip.responded">
            <div ng-show="myTrip.status==1">
              <i class="ion-checkmark-round" style="color:#19DA3D;">&nbspYes</i>
            </div>
            <div ng-show="myTrip.status==0">
              <i class="ion-checkmark-round" style="color:#F00707;">&nbspNo</i>
            </div>
            <div ng-show="myTrip.status==2">
              <i class="ion-checkmark-round" style="color:#FFCC00;">&nbspMaybe</i>
            </div>
        </div>

      </ion-item> 

    </ion-list>
  </ion-content>
</ion-view>

<div class="bar bar-footer bar-royal">
  <h2 class="title">For the true shopaholics!</h2>
</div>


<!--style=" display:block !important; background-color:lime !important; height: calc(103px / 3) !important; height: -webkit-calc(103px / 3) !important; min-height: 0 !important;
                font-size:10px !important;" -->