<ion-view title="My Past Trips" hide-back-button="true" style="background-image:url('img/bgImgShop.jpg'); background-position: center bottom;">
 <ion-nav-bar class="bar-royal">
        <ion-nav-buttons side="left">
          <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="has-header" has-header="true" padding="false">
    <ion-list>

      <ion-item ng-repeat="pastTrip in pastTrips" href="#/app/pastTrips/{{pastTrip.id}}">
        <div style="width:80%; float:left;">
          <h2><b>{{pastTrip.tripName}}</b></h2>
          {{pastTrip.occasion}}
          <br>{{pastTrip.date | date: longDate}}
          <br><br>Created By: {{pastTrip.createdBy}}
        </div>
        <div style="">
          <button class="button button-assertive button-small">
            Delete Trip?
          </button>
        </div>
      </ion-item>  

    </ion-list>
  </ion-content>
</ion-view>

<div class="bar bar-footer bar-royal">
  <h2 class="title">For the true shopaholics!</h2>
</div>


