<ion-view title="{{trip.tripName}}" hide-back-button="true" style="background-image:url('img/bgImgShop.jpg'); background-position: center bottom;">
  <ion-nav-bar class="bar-royal">
        <ion-nav-buttons side="left">
          <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="has-header" has-header="true" padding="false">

    <div style="width:65%; float:left;">
        <h1 style="text-transform:uppercase;"><b><u>{{trip.tripName}}</u></b></h1>
        <br>
    	<h3><b>Bcuz: </b>{{trip.occasion}}
        <br><b>Was On: </b>{{trip.date | date: 'MMM d, y &nbsp&nbsp h:mm a'}}
        <br><b>Planned to go to: </b>{{trip.venues}}
        <br><b>Duration: </b>{{trip.duration}}
        <br><b>Met at: </b>{{trip.meetup}} ... Don't be late!!
        <br><br><b>Trip Created By: </b>{{trip.createdBy}}</h3>
    </div>
  </ion-content>
</ion-view>

<div class="bar bar-footer bar-royal">
  <h3 class="title">For the true shopaholics!</h3>
</div>